{% extends 'dummy.html' %}

{% block title %}
<title>Insert</title>
{% endblock %}

{% block body_block %}
<style>

    h5
    {
        background-color: red;
    }
</style>

<br> <br>
<div class="container mt-3">
    <div class="row">
        {% for i in data %}
        <div class="col-md-4">
            <div class="card" style="width: 20rem; height:20rem;">
                <div class="card-header">
                    <img src="{{i.cimage}}" alt="" width="200px" height="200px">
                </div>
                <div class="card-body">
                    <a href="{{i.cname}}"><h5>{{i.cname}}</h5></a>
                </div>
            </div>
        </div>
        {% endfor %}
   </div>
</div>
  {% endblock %}